
/* Universal selector */
* {
    font-size: 33px;
}

body {
    background-color:black;
    color: white;
}

p {
    color: antiquewhite;
}
/* Group selector */
h1, h2 {
    font-style: italic;
}

p span {
    background-color: fuchsia;
}
p span {
    background-color: white;
}

.shubh {
    color: aqua;
}
 
p { 
    color: red;
}

#jack {
    color: blue;
}