<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    
</head>
<body>
<form action="/logout" method="get">
  <!-- <label for="name">name:</label>
  <input type="text" id="email" name="name" required>
  <br>
  <br>
  <br>
  <label for="password">email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <br>
  <br> -->
  
  <button type="submit">Logout</button>
</form>

</div>
</body>
</html>