* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
body {
    margin: 5px;
}
.container {
    display: flex;
    border: 2px solid black;
    height: 45vh;
    /* flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    /* justify-content: center;
    justify-content: end;
    justify-content: start; */
    /* align-items: center; */
    flex-wrap: wrap;

}
.box {
    background-color: red;
    margin: 1rem;
    width: 5rem;
    height: 5rem;
}