* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* main {
    background-color: antiquewhite;
    width: 50%;
} */

/* p {
    /* background-color: aqua;
    margin: 100px 50px;
   
} */

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  background-color: black;
  margin: 0;
  padding: 0.5rem;
}

li {
  display: inline-block;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}
